.body {
    font-family: Arial, sans-serif;
}



input[type="text"] {
    width: 80%;
    padding: 8px;
}

.button {
    padding: 10px 20px;
    background-color: #2e5f94;
    color: #3c1a1a;
    border: none;
    cursor: pointer;
}


.button:hover {
    background-color: #0056b3;
}

.h1, h2 {
    color: #333;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
